@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import './variables.styl';

html, body {
    font-family: $fonte;
}

#app {
    font-family: $fonte;
}
.head-actions {
    width: 100%;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    a {
        &.btn-table {
            font-size: 21px;
        }
        &.btn-edit {
            color: $amarelo;
        }
        &.btn-delete {
            color: $vermelho;
        }
    }
    thead {
        border: 2px solid #333652;
        tr {
            background: #333652;
            width: 100%;
            height: 54px;
            th {
                font-family: $fonte;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: $brancoFonte;
                text-align left;
                vertical-align: middle;
            }
        }
    }
    tbody {
        border: 2px solid #333652;
        tr {
            width: 100%;
            height: 54px;
            &:nth-of-type(even) { 
                background-color: rgba(218, 218, 218, 0.2);
            }
            td {
                font-family: $fonte;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: $roxoTable;
                vertical-align: middle;
            }
        }
    }
}

input {
    max-width: 100%;
    height: 50px;
    background: #F9F9F9;
    border: 2px solid #939189;
    border-radius: 5px;
    font-family: $fonte;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #282828;
    padding-left: 15px;
    padding-right: 5px;
    &::placeholder {
        color: #939189;
    }
    &:focus {
        border-color: $roxo;
    }
}

button {
    width: 169px;
    height: 50px;
    border-radius: 5px;
    font-family: $fonte;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &.white {
        background: #F9F9F9;
        border: 2px solid #F9F9F9;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        color: #333652;
    }
    &.yellow {
        background: #FAD02C;
        border: 2px solid #FAD02C;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        color: #333652;
    }
}

.ml-50 {
    margin-left: 50px;
}
.ml-25 {
    margin-left: 25px;
}

.mr-50 {
    margin-right: 50px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-14 {
    margin-right: 14px;
}

.mt-38 {
    margin-top: 38px;
}

.pl-37 {
    padding-left: 37px;
}

.flexed {
    display: flex;
    flex-flow: wrap;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}